/* Colors:
 bcf4f5
 b4ebca
 d9f2b4 */

header #items {
  color: #274690;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
}

header h1 {
  color: #274690;
}

body {
  font-family: "Times New Roman", Times, serif;
  color: #302b27;
}

header h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#bar {
  border-bottom: 2px solid #302b27;
  border-top: 2px solid #302b27;
}

#options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 33%;
  padding: 20px;
  list-style-type: none;
  margin-left: auto;
}

#items {
  justify-self: end;
}

#books-container {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 1fr;
  grid-template-areas: "content sidebar";
  height: 100vh;
}

#books {
  grid-column: 0/1;
}

#bookContainer {
  border-bottom: 2px dotted #302b27;
  grid-column: content;
  display: grid;
  grid-template-columns: 200px 1fr;
  border-right: 2px solid #302b27;
}

#stats {
  grid-column: 1 / 2;
  border-right: 2px solid #302b27;
  padding-right: 10px;
  margin-right: 10px;
  text-align: end;
}

#book {
  grid-column: 0 / 1;
}

#filters {
  grid-area: sidebar;
  height: 100%;
  padding-left: 10px;
}

.skiptocontent a {
  position: absolute;
  top: -40px;
  background: #302b27;
  color: white;
}

.skiptocontent a:focus {
  top: 0;
}
