/* Colors:
 bcf4f5
 b4ebca
 d9f2b4 */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #353531;
}

header h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#bar {
  border-bottom: 2px solid yellow;
  border-top: 2px solid yellow;
}

#options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 33%;
  padding: 20px;
  list-style-type: none;
  margin-left: auto;
}

#items {
  justify-self: end;
}

#books-container {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 100vh;
  grid-template-areas: "content sidebar";
  border: 2px solid red;
}

#books {
  grid-column: 0/1;
  border: 2px solid black;
}

#bookContainer {
  grid-column: content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid purple;
}

#stats {
  grid-column: 1 / 2;
  border: 2px solid blue;
}

#book {
  grid-column: 0 / 1;
  border: 2px solid green;
}

#filters {
  grid-area: sidebar;
  height: 100%;
  border: 2px solid orange;
}
